* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.container-squares {
	width: 450px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.squares {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

/* Squares X  */

.squaresX::after {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 50%;
}

.squaresX::before {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	transform: rotate(-45deg);
	position: absolute;
	top: 0;
	left: 50%;
}

.squaresCircles::before {
	content: '';
	display: block;
	background: transparent;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 12px solid red;
}