* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.container-squares {
	width: 450px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.squares {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.squares:hover {
  background: #bdbdbd;
  transition: .2s;
}

/* Squares X  */

.squaresX::after {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transition: 0.5s;
	transform: rotate(45deg);
	animation: squaresX2 0.5s;
}


.squaresX::before {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: rotate(-45deg);
	animation: squaresX1 0.3s;
}

@keyframes squaresX1{
	0% {
		transform:  scale(0, 0) rotate(0deg);
	}

	100% {
		transform:   scale(1, 1) rotate(-45deg);
	}
}

@keyframes squaresX2{
	0% {
		transform:   scale(0, 0) rotate(0deg);
	}

	100% {
		transform:   scale(1, 1) rotate(45deg);
	}
}




/* Squares Circles  */

.squaresCircles::before {
	content: '';
	height: 100px;
	width: 100px;
	display: block;
	background: transparent;
	position: absolute;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 12px solid red;
	animation: circles 0.5s;
}

@keyframes circles {
	0% {
		width: 0px;
		height: 0px;
	}

	100% {
		width: 100px;
		height: 100px;
	}
}