@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.config {
	width: 380px;
	height: 200px;
	background: #eee;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
	'p1Paragraph p2Paragraph' 
	'p1Select  p2Select'
	'buttonStart buttonStart';
	text-align: center;
	padding: 10px;
	gap: 10px;
	transition: .5s;
}

.p1Paragraph, .p2Paragraph {
  font-size: 20px;
}

.p1Paragraph {
  grid-area: p1Paragraph;
}

.p2Paragraph {
  grid-area: p2Paragraph;
}

.p1Select{
	grid-area: p1Select;
}

.p2Select{
	grid-area: p2Select;
}

select {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.start{
	grid-area: buttonStart;
	width: 180px;
	margin: 0 auto;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
	outline: none;
	border: none;
	transition: 0.2s;
	background: #aeaeae;
}

.start:hover {
	background: #808080;
	transition: 0.2s;
}

.container-squares {
	width: 450px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	transition: .5s;
	transform: scale(0, 0);
	position: absolute;
}

.squares {
  width: 100%;
  height: 100%;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.squares:hover {
  background: #bdbdbd;
  transition: .2s;
}

/* Squares X  */

.squaresX::after {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transition: 0.5s;
	transform: rotate(45deg);
	animation: squaresX2 0.5s;
}


.squaresX::before {
	content: '';
	background: blue;
	width: 15px;
	height: 130px;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: rotate(-45deg);
	animation: squaresX1 0.3s;
}

@keyframes squaresX1{
	0% {
		transform:  scale(0, 0) rotate(0deg);
	}

	100% {
		transform:   scale(1, 1) rotate(-45deg);
	}
}

@keyframes squaresX2{
	0% {
		transform:   scale(0, 0) rotate(0deg);
	}

	100% {
		transform:   scale(1, 1) rotate(45deg);
	}
}




/* Squares Circles  */

.squaresCircles::before {
	content: '';
	height: 100px;
	width: 100px;
	display: block;
	background: transparent;
	position: absolute;
	border-radius: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 12px solid red;
	animation: circles 0.5s;
}

@keyframes circles {
	0% {
		width: 0px;
		height: 0px;
	}

	100% {
		width: 100px;
		height: 100px;
	}
}